{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'grupo.css' %}">
{% endblock %}

{% block contenido %}
    <h1>Grupos</h1>

   
        <div class="opcion-inicio">
            <a href="{% url 'crear-grupo' %}" class="a-opcion">Crear Grupo</a>
        </div>

        <hr>
        <h2 id="tus-grupos"><u><i>Tus Grupos:</u></i></h2>
        
        <ul>
            {% for grupo in grupos %}
            <div class="div-grupos">
                <li class="list-item"> <a href="{% url 'nuevo-grupo' grupo_id=grupo.id %}" class="a-item"> {{ grupo.nombre }} </a> 

                    <form action="{% url 'borrar_grupo' borrar_grupo_id=grupo.id %}" method="post">
                        {% csrf_token %}
                        <button id="boton-eliminar">Borrar</button>
                    </form>
                </li>
            </div>
            {% empty %}
            <p id="sin-grupos-txt"><i>No tenés grupos creados</i></p>
            {% endfor %}
        </ul>

    {% endblock %}