*{
    margin:0 auto;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #E8E3D9;
}

header{padding: 40px;}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 2rem;
}


#form-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf7ef;
    box-shadow: 0 0 15px 0px rgba(31, 31, 31, 0.39);
    border-radius: 10px;
    padding: 15px;
    width: 30vw;
    margin-bottom: 7rem;
    transition: .3s ease-in-out;
}
#form-contenedor:hover{
    box-shadow: 0 0 15px 0px rgba(31, 31, 31, 0.507);
    transform: scale(1.02);
}

button{
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    padding: 1.5vh 1vw;
    background-color: #e9cece;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
    transition: .2s;
}
button:hover{
    transition: .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
    transform: scale(1.04);
}

#form-div{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

#id_nombre{
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
    font-size: 1rem;
    width: 65%;
    padding: 3px;
    margin-bottom: 15px;
}
#id_fecha{
    border-radius: 6px;
    font-size: 15px;
    padding: 3px;
    width: 300px;
}


.errorlist{color: rgb(192, 0, 0);}

/* --- RESPONSIVE------------------ */
@media (max-width: 955px){
    #form-contenedor{
        width: 60vw;
    }    
}
@media (max-width: 490px){
    #form-contenedor{
        width: 80vw;
    }    
    #id_nombre{
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
    }
}