<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'carpeta.css' %}">
    <title>Orden Arte</title>
    </head>

    <body>
        <header>       
            <nav>
                <ul id="ul-bar">
                    <li class="nav-li"> <a href="{% url 'usuario' %}" class="nav-a"> Inicio </a> </li>
                    <li class="nav-li"> <a href="{% url 'grupo' %}" class="nav-a"> Grupos </a> </li>
                    <li class="nav-li"> <a href="{% url 'evento' %}" class="nav-a"> Eventos </a> </li>
                    <li class="nav-li"> <a href="{% url 'logout' %}" class="nav-a"> Cerrar Sesión</a> </li>
                </ul>
            </nav>
        </header>

    <h1>Contenido de {{ carpeta_nombre }} </h1>
    <div>
        <a href="{% url 'subir-archivo' grupo_id=grupo_id carpeta_id=carpeta_id %}" id="subir-archivo">Subir archivo</a>
    </div>


        
        
        {% for archivo in archivos %}
        <div class="div-archivos">
            <a href="{{ archivo.archivo.url }}" target="_blank">
                {{ archivo.nombreMultimedia }}
            </a>
        </div>

            <form action="{% url 'eliminar-archivo' grupo_id=grupo_id carpeta_id=carpeta_id eliminar_archivo_id=archivo.id %}" method="post">
                {% csrf_token %}
                <button id="boton-eliminar">Borrar</button>
            </form>
        {% endfor %}


</body>
</html>