{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'carpeta.css' %}">
{% endblock %}

{% block contenido %}

    <h1 class="titulo-pagina">Contenido de {{ carpeta_nombre }} </h1>
    <div>
        <a href="{% url 'subir-archivo' grupo_id=grupo_id carpeta_id=carpeta_id %}" id="subir-archivo">Subir archivo</a>
    </div>

    <ul id="lista-grupos">
        {% for archivo in archivos %}
            <li class="list-item">

                <a href="{{ archivo.archivo.url }}" class="a-item" target="_blank">
                    {{ archivo.nombreMultimedia }}
                </a>
                <form action="{% url 'eliminar-archivo' grupo_id=grupo_id carpeta_id=carpeta_id eliminar_archivo_id=archivo.id %}" method="post">
                    {% csrf_token %}
                    <button id="boton-eliminar">Borrar</button>
                </form>
            </li>
            
            {% endfor %}
    </ul>

{% endblock %}
