{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'crear-carpeta.css' %}">
{% endblock %}

{% block contenido %}

    <h1>CREAR CARPETA</h1>

    <div id="form-contenedor">
        <form action="{% url 'crear-carpeta' grupo_id=grupo.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="form-div">{{ form }}</div>
            <button type="submit">Crear Carpeta</button>
        </form>
    </div>

{% endblock %}