{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">  
    <link rel="icon" type="image/png" href="{% static 'O.A.png' %}">
    <link rel="stylesheet" href="base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %} 
    {% endblock %}
    <title>Orden Arte</title>
    </head>
<body>
    <header>       
        <nav>
            <ul id="ul-bar">
                <li class="close-li">
                    <button id="cerrar-menu" class="close-btn">✕</button>
                </li>

                <li class="nav-li"> <a href="{% url 'usuario' %}" class="nav-a"> Inicio </a> </li>
                <li class="nav-li"> <a href="{% url 'grupo' %}" class="nav-a"> Grupos </a> </li>
                <li class="nav-li"> <a href="{% url 'evento' %}" class="nav-a"> Eventos </a> </li>
                <li class="nav-li"> <a href="{% url 'logout' %}" class="nav-a"> Cerrar Sesión</a> </li>
            </ul>

            <div class="hamburguesa" id="hamburguesa">
                ☰
            </div>
        </nav>
    </header>
    {% block contenido %} 
 
    {% endblock %}

    <footer>
        <hr>
        <p class="footer-p">© 2026 Orden Arte</p>
        <p class="footer-p">Manuel Leguizamón. Buenos Aires, Argentina</p>
    </footer>

    {% block scripts %}
        <script src="{% static 'js/navbar.js' %}"></script>
    {% endblock %}
</body>
</html>