{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'crear-evento.css' %}">
{% endblock %}

{% block contenido %}
    <h1>CREAR EVENTO</h1>
    <div id="form-contenedor">
        <form action="{% url 'nuevo-evento' grupo_id=grupo_id %}" method="post">
            {% csrf_token %}
            <div id="form-div">{{ eventoForm }}  {{ horarioForm }} {{ localidadForm }} </div>
            <button type="submit">Crear Evento</button>
        </form>
    </div>
    {% endblock %}