<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'evento-detalle.css' %}">
    <title>Orden Arte</title>
</head>
<body>
    <header>       
        <nav>
            <ul id="ul-bar">
                <li class="nav-li"> <a href="{% url 'usuario' %}" class="nav-a"> Inicio </a> </li>
                <li class="nav-li"> <a href="{% url 'grupo' %}" class="nav-a"> Grupos </a> </li>
                <li class="nav-li"> <a href="{% url 'evento' %}" class="nav-a"> Eventos </a> </li>
                <li class="nav-li"> <a href="{% url 'logout' %}" class="nav-a"> Cerrar Sesión</a> </li>
            </ul>
        </nav>
    </header>



{% if request.user.is_authenticated %}
    <main>
            <h1>Detalles: <u>{{ nombre }}</u></h1>
        <ul>    
            <li><p><i>Fecha:</i> {{ fecha }} </p> </li>

            {% if tipo %}
            <li><p><i>Tipo de evento:</i> {{ tipo }} </p> </li>
            {% else %} 
            <li><p><i>Tipo de evento:</i> ... </p></li>
            {% endif %}

            {% if vestimenta %}
            <li><p><i>Vestimenta:</i> {{ vestimenta }} </p> </li>
            {% else %} 
            <li><p><i>Vestimenta:</i> ... </p></li>
            {% endif %}
            
            {% if dineroCobrar %}
            <li><p><i>Dienero a cobrar:</i> {{ dineroCobrar }} </p> </li>
            {% else %} 
            <li><p><i>Dienero a cobrar:</i> ... </p></li>
            {% endif %}

            {% if horarioLlegada %}
            <li><p><i>Horario de llegada:</i> {{ horarioLlegada }} </p> </li>
            {% else %} 
            <li><p><i>Horario de llegada:</i> ... </p></li>
            {% endif %}

            {% if horarioPrueba %}
            <li><p><i>Horario de la prueba de sonido:</i> {{ horarioPrueba }} </p> </li>
            {% else %} 
            <li><p><i>Horario de la prueba de sonido:</i> ... </p></li>
            {% endif %}
            
            {% if horarioTocar %}
            <li><p><i>Horario de tocar:</i> {{ horarioTocar }} </p> </li>
            {% else %} 
            <li><p><i>Horario de tocar:</i> ... </p></li>
            {% endif %}
            
            {% if pais %}
            <li><p><i>Pais:</i> {{ pais }} </p> </li>
            {% else %} 
            <li><p><i>Pais:</i> ... </p></li>
            {% endif %}

            {% if ciudad %}
            <li><p><i>Ciudad:</i> {{ ciudad }} </p> </li>
            {% else %} 
            <li><p><i>Ciudad:</i> ... </p></li>
            {% endif %}

            {% if direccion %}
            <li><p><i>Direccion:</i> {{ direccion }} </p> </li>
            {% else %} 
            <li><p><i>Direccion:</i> ... </p></li>
            {% endif %}
            
        </ul>
    </main>


{% endif %}
</body>
</html>