{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'evento-detalle.css' %}">
{% endblock %}

{% block contenido %}
    <main>
            <h1>Detalles: <u>{{ nombre }}</u></h1>
        <ul>    
            <li><p><i>Fecha:</i> <b> {{ fecha }} </b> </p> </li>

            {% if tipo %}
            <li><p><i>Tipo de evento:</i> <b> {{ tipo }} </b> </p> </li>
            {% else %} 
            <li><p><i>Tipo de evento:</i> ... </p></li>
            {% endif %}

            {% if vestimenta %}
            <li><p><i>Vestimenta:</i> <b> {{ vestimenta }} </b> </p> </li>
            {% else %} 
            <li><p><i>Vestimenta:</i> ... </p></li>
            {% endif %}
            
            {% if dineroCobrar %}
            <li><p><i>Dienero a cobrar:</i> <b> {{ dineroCobrar }} </b> </p> </li>
            {% else %} 
            <li><p><i>Dienero a cobrar:</i> ... </p></li>
            {% endif %}

            {% if horarioLlegada %}
            <li><p><i>Horario de llegada:</i> <b> {{ horarioLlegada }} </b> </p> </li>
            {% else %} 
            <li><p><i>Horario de llegada:</i> ... </p></li>
            {% endif %}

            {% if horarioPrueba %}
            <li><p><i>Prueba de sonido:</i> <b> {{ horarioPrueba }} </b> </p> </li>
            {% else %} 
            <li><p><i>Prueba de sonido:</i> ... </p></li>
            {% endif %}
            
            {% if horarioTocar %}
            <li><p><i>Horario de tocar:</i> <b> {{ horarioTocar }} </b> </p> </li>
            {% else %} 
            <li><p><i>Horario de tocar:</i> ... </p></li>
            {% endif %}
            
            {% if pais %}
            <li><p><i>Pais:</i> <b> {{ pais }} </b> </p> </li>
            {% else %} 
            <li><p><i>Pais:</i> ... </p></li>
            {% endif %}

            {% if ciudad %}
            <li><p><i>Ciudad:</i> <b> {{ ciudad }} </b> </p> </li>
            {% else %} 
            <li><p><i>Ciudad:</i> ... </p></li>
            {% endif %}

            {% if direccion %}
            <li><p><i>Direccion:</i> <b> {{ direccion }} </b> </p> </li>
            {% else %} 
            <li><p><i>Direccion:</i> ... </p></li>
            {% endif %}        
        </ul>

        <form action="{% url 'modificar-evento' grupo_id=grupo_id evento_id=evento_id %}" method="post">
            {% csrf_token %}
            <button> Modificar </button>
        </form>
    </main>

{% endblock %}