{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static '/evento.css' %}">
{% endblock %}

{% block contenido %}

            
        <h2 id="tus-eventos" class="titulo-pagina">Tus eventos:</h2>
        <hr>

        <ul class="eventos-contenedor">
            {% for evento in eventos %}
            <div class="div-evento">
                <li class="list-item"> <a href="{% url 'evento-detalle' grupo_id=evento.grupo.id evento_id=evento.id %}" class="a-item"> {{ evento.nombre }}  <small><p class="fecha">{{evento.fecha}}</p> <p id="grupo-nombre">Grupo: {{ evento.grupo }} </p> </small></a> </li>
            </div>

            {% empty %} 
            <p id="sin-eventos-txt"><i>No tenés eventos creados</i></p>
            {% endfor %}
        </ul>

{% endblock %}
