{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'modificar-evento.css' %}">
{% endblock %}

{% block contenido %}
    <h1>Modificar EVENTO</h1>
    <div id="form-contenedor">
        <form action="{% url 'modificar-evento' grupo_id evento_id %}" method="post">
            {% csrf_token %}
            <div id="form-div">{{ eventoForm }}  {{ horarioForm }} {{ localidadForm }} </div>
            <button type="submit" name="modificar_evento">Modificar Evento</button>
        </form>
    </div>
{% endblock %}