*{
    margin:0 auto;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #E8E3D9;

}

#contenedor{
    margin: 20px; 
    text-align: center;
}
main{
    display: inline-block;
    border-radius: 1em;
    box-shadow: 0 0 15px 0px rgba(31, 31, 31, 0.39);
    padding: 2vw;
    width: 30vw;
    text-align: center;
    background-color: #fcf7ef;
}

#crea-txt{
    padding-bottom: 15px;
}
.form-input{
    font-size: 20px;
    height: 7vh;
    width: 80%;
    margin-bottom: 2vh;
    padding: 8px;
    border-radius: .3em;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}
.form-button{
    box-sizing: border-box;
    height: 7vh;
    width: 12vw;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    background-color: #e9cece;
    color: #000000;
    cursor: pointer;
}
.form-button:hover{
    transition: .2s;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.411);
    color: #000000;
}

h1{
    font-size: 50px;
    margin: 5vh;
}

#subtitulo{margin-bottom: 7px;}

#error-txt{
    color: #7A6F63;
    text-align: center;
    font-size: 18px;
}
#exito-txt{
    color: #8F9E8A;
    text-align: center;
    font-size: 15px;
}
.mensaje-contenedor{
    border: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    display:flexbox;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3vh;
    margin-bottom: 5vh;
    background-color: #FFFDF7;
    color: #4B443C;
}
