*{
    margin:0 auto;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #E8E3D9;

}

#contenedor{
    margin: 20px; 
    text-align: center;
}
main{
    display: inline-block;
    border-radius: 1em;
    box-shadow: 0 0 15px 0px rgba(31, 31, 31, 0.39);
    padding: 2vw;
    width: 35vw;
    text-align: center;
    background-color: #fcf7ef;
    transition: .3s ease;
}
main:hover{
    box-shadow: 0 0 18px 0px rgba(31, 31, 31, 0.575);
}

h2{
    padding-bottom: 15px;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
}
.form-input{
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    height: 7vh;
    width: 90%;
    margin-bottom: 4vh;
    padding: 10px;
    border-radius: .3em;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}
.form-button{
    box-sizing: border-box;
    padding: 1.6vh 1.5vw;
    text-align: center;
    margin: 10px;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
    background-color: #e9cece;
    color: #000000;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.form-button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
    color: #000000;
}
#ya_tenes_cuenta{
    font-size: clamp(1.2rem, 1.5vw, 3rem);
}

h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 3vh;
}

#subtitulo{margin-bottom: 7px;}

#error-txt{
    color: #7A6F63;
    text-align: center;
    font-size: 18px;
}
#exito-txt{
    color: #8F9E8A;
    text-align: center;
    font-size: 15px;
}
#ya_tenes_cuenta{
    margin: 1rem;
}
.mensaje-contenedor{
    border: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    display:flexbox;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3vh;
    margin-bottom: 2vh;
    background-color: #FFFDF7;
    color: #4B443C;
    list-style-type: none;
}

/* -- RESPONSIVE DESIGN ---------- */
@media (max-width: 900px){
    main{
        width: 55vw;
    }
    h1{
        font-size: 35px;
    }
}
@media (max-width: 455px){
    main{
        width: 75vw;
    }
    h2{
        margin-top: 10px;
    }
}
