<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'a-signup.css' %}">
    <title>Orden Arte</title>
</head>
<body>
    <div id="contenedor">
        <header>
            <h1>Orden Arte</h1>
        </header>
        <main>
            <h2>Crear cuenta</h2>

            {% if messages %}
                {% for message in messages %}
                    <p class="mensaje-contenedor">{{ message }}</p>
                {% endfor %}
            {% endif %}


            <form method="post">
                {% csrf_token %}
                {{ form.email }}

                {{ form.name }}
                {{ form.password1 }}

                {{ form.password2 }}

                {% for error in form.password1.errors %}
                    <div class="mensaje-contenedor">{{ error }}</div>
                {% endfor %}

                {% for error in form.password2.errors %}
                    <div class="mensaje-contenedor">{{ error }}</div>
                {% endfor %}

                {% for error in form.email.errors %}
                    <div class="mensaje-contenedor">{{ error }}</div>
                {% endfor %}


                <button type="submit" class="form-button">Registrarse</button>
            </form>

            <p id="ya_tenes_cuenta">¿Ya tenés cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
        </main>
    </div>

</body>
</html>